[submodule "libdrm"]
	path = libdrm
	url = https://github.com/freedreno-zz/libdrm.git
[submodule "mesa"]
	path = mesa
	url = https://github.com/freedreno/mesa.git
[submodule "libclc"]
	path = libclc
	url = http://llvm.org/git/libclc.git
[submodule "libelf"]
	path = libelf
	url = https://github.com/WolfgangSt/libelf.git
